<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('main.index')}}">home</a></li>
                <li><a href="{{url_for('auth.login')}}">login</a></li>
                <li><a href="{{url_for('auth.logout')}}">logout</a></li> 
                <li><a href="{{url_for('auth.register')}}">register</a></li>
                {%if current_user.is_authenticated%}
                    <li><a href="{{url_for('auth.user_profile', username=current_user.username)}}">user</a></li> 
                    <li><a href="{{url_for('auth.user_update_profile', username=current_user.username)}}">update</a></li>  
                {%endif%}
            </ul>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {%block content%}
    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>